*
!README.m/cantata.confd
!.gitignore

!i3status/*
!i3status/i3status.conf

!mako/*
!mako/config

!pulse/*
!pulse/daemon.conf

!pics/*
!pics/neofetch

!sway/*
!sway/config

!sway/scripts/*
!sway/config.d/*
!sway/config.d/Æsthetics
!sway/config./extras
!sway/config./inputs
!sway/config./outptus
!sway/config./swaybar
!sway/config./workspaces

!swappy/*
!swappy/config

!sgtk-menu/*
!sgtk-menu/appendix
!sgtk-menu/appendix-i3
!sgtk-menu/appendix-ob
!sgtk-menu/exit
!sgtk-menu/exit-i3
!sgtk-menu/exit-ob
!sgtk-menu/grid.css
!sgtk-menu/icon-missing.svg
!sgtk-menu/style.css

!kanshi/*
!kanshi/config

!vim/*
!vim/vimrc

!mpd/*
!mpd/mpd.conf

!cantata/*
!cantata/cantata.conf
